# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
.vs/ContactManagementWeb/FileContentIndex/3a63ae66-bc66-4275-add9-877fb4db0d82.vsidx
.vs/ContactManagementWeb/FileContentIndex/3c10a7d1-a480-4f35-a214-e5a5a523e28d.vsidx
.vs/ContactManagementWeb/FileContentIndex/5dfd1383-31b5-41e3-acc5-9038837a4722.vsidx
.vs/ContactManagementWeb/FileContentIndex/5eb7951a-da0e-42a9-841e-260f8197299c.vsidx
.vs/ContactManagementWeb/FileContentIndex/f374853a-192d-44c7-a99f-347b4b5711f4.vsidx
.vs/slnx.sqlite
.vs/ContactManagementWeb/FileContentIndex/2768912c-2eec-47be-bd62-f0994ff21e82.vsidx
