<div class="container">

    <div class="page-title">
        <div>
            <span class="page-title"><h1>Please confirm you want to delete </h1></span>
            <span><h2>{{fullname}} ?</h2></span>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" (click)="OnConfirm()" class="btn btn-primary">Delete</button>
        &nbsp;&nbsp;
      <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="closeModal()">Close</button>
    </div>
    <br>
</div>