<div class="container">
<button class="btn btn-success" (click)="openModal()">New</button>
<br>
<br>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Firstname</th>
      <th scope="col">Lastname</th>
      <th scope="col">Email</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    @for (item of ContactDetails; track $index) {
      
    <tr>
      <td scope="row">{{ $index }}</td>
      <td>{{item.firstname}}</td>
      <td>{{item.lastname}}</td>
      <td>{{item.email}}</td>
      <td>
        <button class="btn btn-primary" (click)="EditContact(item)">Edit</button>
      </td>
      <td>
        <button class="btn btn-danger" (click)="DeleteContact(item.id)">delete</button>
      </td>
    </tr>
  }
  </tbody>
</table>  
</div>
<!-- <app-edit-contact (dataFromChild)="handleData($event)"></app-edit-contact> -->
<!-- <app-edit-contact [fullval]="FullnameObj"></app-edit-contact> -->
<!-- <app-edit-contact [data1]="data1"></app-edit-contact> -->